/* 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264 286, 290, 302, 314, 326, 338, 350 */


/* Colors

rgba(0,0,0,1);
rgba(255,255,255,1);
rgba(255,0,0,1);
rgba(0,255,0,1);

The value "a" denotes opacity.

*/


/* General */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(0, 0, 0, 1);
}

a {
    text-decoration: underline;
    color: inherit;
    background-color: inherit;
}

a:hover,
button[type=submit]:hover {
    color: rgba(0, 255, 0, 0.8);
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
    font-family: 'DovesType-Regular', sans-serif;
}

p {
    margin: 12px 0 24px 0;
    text-align: justify;
}

table {
    border-collapse: collapse;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


/* Navigation bar */

nav {
    text-align: right;
}


/* Title */

.title {
    position: relative;
    text-align: center;
}

.title-veil {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.title-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* C&Adoctor logo */

#main-title-content img {
    border-radius: 12px;
    border: 6px solid rgba(0, 0, 0, 1);
}


/* Titles' fixed background images */

#main-title {
    background-image: url(british-museum-ceiling.jpg);
}

#blog-title {
    background-image: url(oxford-skyline.jpg);
}

#main-title,
#blog-title {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


/* Content */

.content-container {
    width: 100vw;
}

#about {
    background-color: rgba(0, 0, 0, 0.8);
}

#splitscreen td {
    width: 50%;
}

#blog {
    background-color: rgba(0, 0, 0, 0.6);
}

#foo {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 1);
}


/* Contact */

#contact-form-container {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#contact-form-container nav {
    color: rgba(255, 255, 255, 1);
}

input[type=text],
textarea {
    font-size: 18px;
    width: 100%;
    margin: 24px 0;
    padding: 12px;
}

button[type=submit] {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 48px;
}

input[type=text]:focus,
textarea:focus,
button[type=submit]:focus {
    outline: none;
}


/* Social */

footer nav,
.contact-icons {
    text-align: center;
}

.contact-icons a {
    font-size: 28px;
}

footer i {
    margin: 48px;
}


/* Crossovers */

a,
p,
h2,
form,
input[type=submit] {
    font-size: 18px;
    font-weight: 300;
}

a,
i {
    transition-duration: 0.2s;
}

.content,
#splitscreen td,
.content-form-container,
footer {
    padding: 144px;
}

#main-title-content img,
body {
    background-color: rgba(255, 255, 255, 1)
}

.title,
#blog,
#about {
    color: rgba(255, 255, 255, 1);
}

nav,
nav a,
#main-title-content img {
    padding: 24px;
}